
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    background-image: url(img13.jpg);
}




header {
    background-color: lightslategray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-top: 0px;
    margin-bottom:0px;
}

h1{
    text-align: center;
}

h2{
    text-align: right;
}


.logo {
    margin: 0;
    font-size: 18px;
}

.logo img {
    height: 200px; 
    width: 200px;
}



nav ul li {
    display: inline;
    margin-right: 250px;
    text-align: left;
 
}


.about-text {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-family: 'Young Serif', serif; 
    letter-spacing: 1px; 
 
}


.call-to-action {
    text-align: center;
    padding: 50px;
}

.btn {
   
    text-decoration: none;
    background: #333;
    color: #fff;
    border-radius: 10px;
    
}


.product-img img {
    width: 200px; 
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease; 
}



footer {
    background-color: lightseagreen;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.form-container {
     
    text-align: left;
    color: black;
}






